*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.menu{
    font-size: 18px;
    background: url("content/img/navigation-background.jpg");
    height: 30px;
    padding: 4px;
    width: 800px;
    margin-top: 40px;
    color:#192402
}

.menu ul{
    margin-left: 120px;
}
.menu ul li {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    text-align: center;
}
.menu ul li a{
    color: #ffffff;
}

#slika1{
    height: 120px;
    position: absolute;
    top: 0px;
}
main{
    height: 420px;
    margin-top: 90px;

    margin-left: 10px;
}
.tekst{
    width: 400px;
    float: left;
}
.tekst h1{
    color: #92CD00;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    margin-left:150px;
}
.tekst p{
    color: #192402;
    text-align: justify;
}
#slika2{
    float: left;
width: 380px;
    position: absolute;
    top: 130px;
}
footer{
    height: 30px;
    background-color: #81b518;
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 800px;
    bottom: 40px;
}
footer p{
    margin-top: 5px;
}